<!--  ./views/index.handlebars -->
<div class="container py-5">
    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">新增一個喜愛的餐廳</h5>
                    <hr>
                    <form method="POST" action="/restaurants">
                        <div class="form-group form-row">
                            <label for="name" class="col-md-4 col-form-label">
                                餐廳名稱<small class="form-text text-danger">(必填*)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="name" name="name" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="name_en" class="col-md-4 col-form-label">
                                餐廳英文名稱
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="restaurant english name" name="name_en" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="category" class="col-md-4 col-form-label">餐廳類別<small class="form-text text-danger">(必填*)</small></label>
                            <div class="col-md-8">
                                <select id="category" class="form-control" name="category" value="{{restaurant.category}}" required>
                                    {{!-- <option>選擇餐廳類型</option> --}}
                                    <option value="中式">中式</option>
                                    <option value="日本料理">日本料理</option>
                                    <option value="美式">美式</option>
                                    <option value="泰式料理">泰式料理</option>
                                    <option value="義式餐廳">義式餐廳</option>
                                    <option value="中東料理">中東料理</option>
                                    <option value="異國風味">異國風味</option>
                                    <option value="吃到飽">吃到飽</option>
                                    <option value="早午餐">早午餐</option>
                                    <option value="咖啡">咖啡</option>
                                    <option value="酒吧">酒吧</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="image" class="col-md-4 col-form-label">
                                餐廳照片連結<small class="form-text text-danger">(必填*)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="image link" name="image" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="location" class="col-md-4 col-form-label">
                                餐廳地址<small class="form-text text-danger">(必填*)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="location" name="location" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="phone" class="col-md-4 col-form-label">
                                餐廳電話
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="phone" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="google_map" class="col-md-4 col-form-label">
                                餐廳Google地圖
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="google_map" name="google_map" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="rating" class="col-md-4 col-form-label">
                                餐廳評分<small class="text-danger form-text">(必填* 請填入1-5之間的數字)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="rating" name="rating" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="description" class="col-md-4 col-form-label">
                                餐廳描述<small class="form-text text-danger">(必填*)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="description" name="description" class="form-control" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success" type="submit">送出資料</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>